body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.brokar-navbar {
  background: #fe8c00; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #f83600,
    #de6d25
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #f83600,
    #de6d25
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-descargar {
  background: #fe8c00; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #f83600,
    #de6d25
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #f83600,
    #de6d25
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-registrar {
  background-color: transparent;
  font-weight: bold;
  color: white;
}

.btn-registrar:hover {
  background-color: rgba(255, 255, 255, 1);
  color: #f83600;
}

.btn-regalo {
  font-size: 18px;
  background-color: #00acff !important;
}

.img-container {
  width: 100%;
  height: 100%;
  padding: 20px 20px 0 20px;
}

.collapsible-header {
  font-size: 24px;
  font-weight: bold;
}

.section__title {
  font-size: 30px;
  font-weight: bold;
  margin: 0 auto;
}

.section__divider {
  width: 100%;
  height: 64px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.argentina-title {
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 40px;
}

.argentina-text {
  color: #f83600;
}

.page-footer {
  background-color: black !important;
}

.collapsible-text {
  color: black;
}

.gray-background {
  background-color: #f2f2f2;
  padding-top: 15px;
}

.img-fix {
  display: inline-block;
  width: 100%;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.collapsible-body-text {
  color: black;
  font-size: 20px;
  padding: 0px !important;
}

.card-title {
  font-size: 24px !important;
  font-weight: 500 !important;
  color: #00acff;
}

.card-text {
  font-size: 20px;
}

.card-img-fix {
  display: inline-block;
  width: 100%;
  margin-top: 1.5rem;
}

.footer-img {
  display: inline-block !important;
}

.navbar-img {
  padding: 13px;
}

.form {
  font-size: 24px;
}

.font-size-24 {
  font-size: 24px;
}

.apps-img {
  height: 215px;
}

.phone {
  width: 50%;
}

.desktop {
  width: 80%;
}

.descarga-img {
  padding-bottom: 20px;
}

.label-font-size {
  font-size: 24px !important;
}

.input-form {
  margin-top: 20px !important;
}

.input-form:focus + .label-font-size {
  color: #00acff !important;
}

.input-form:focus {
  border-bottom: 1px solid #00acff !important;
}

.bold-font {
  font-weight: bold;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-22 {
  font-size: 22px;
}

.orange-text-luquitas {
  color: #f83600;
}

.cyan-text-luquitas {
  color: #00acff;
}

.row:last-child {
  margin-bottom: 0;
}

@media (min-width: 610px) {
  #none-when-small {
    display: none;
  }
}

@media (max-width: 425px) {
  .navbar-img {
    padding: 7px;
  }
  .btn-regalo {
    background-color: #00acff !important;
    height: 100px !important;
  }

  .desktop {
    width: 70%;
  }
}

@media (max-width: 320px) {
  .phone {
    width: 65%;
  }

  .desktop {
    width: 100%;
  }
}

@media (min-width: 375px) {
  .desktop {
    width: 80%;
  }
}

@media (min-width: 425px) {
  .desktop {
    width: 70%;
  }
}

@media (min-width: 768px) {
  .phone {
    width: 60%;
  }

  .desktop {
    width: 80%;
  }

  .home-body {
    height: 135px;
  }
}

@media (min-width: 1024px) {
  .phone {
    width: 50%;
  }

  .desktop {
    width: 80%;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .phone {
    width: 40%;
  }

  .desktop {
    width: 60%;
  }

  .card-img-fix {
    display: inline-block;
    width: 60%;
  }
}

.windows,
.apple,
.android {
  width: 65%;
}
